datasets==2.3.2
numpy>=1.20.3
tqdm==4.62.3
transformers==4.11.3
seqeval==1.2.2
torch==1.10.0+cu113
torchvision==0.11.1+cu113
torchaudio==0.10.0+cu113
-f https://download.pytorch.org/whl/cu113/torch_stable.html
